@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    background-color: #004aad;
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.nav-link{
    color: white;
}
.d-block{
    

    opacity: .6;
}
 .text-slide{
    color:white;
    font-size: 70px;
    margin-left: 30px;
}
.col-6{
    
    overflow-x: clip;
}
.mision{
    display: flex;
}
.row1{
    width: 50%;
}
.title-mision{
    text-align: center;
}
.row2{
    width: 50%;
}
.vision{
    display: flex;
}